<ion-header>

  <ion-navbar>


    <ion-title text-center>

    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-creat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center><img src="assets/imgs/meulineup.png"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  *ngIf="angularHelper.tribaltechUp.length > 0 || angularHelper.timetechUp.length > 0 || angularHelper.burnUp.length >0 || angularHelper.organicUp.length > 0 || angularHelper.progressiveUp.length > 0 || angularHelper.super1Up.length > 0" col-12 class="titulo-menor" text-center margin-top padding-horizontal>Aqui esta a lista dos djs que você selecionou. Boa festa!</ion-col>
      <ion-col *ngIf="angularHelper.tribaltechUp.length == 0 && angularHelper.timetechUp.length == 0 && angularHelper.burnUp.length ==0 && angularHelper.organicUp.length == 0 && angularHelper.progressiveUp.length == 0 && angularHelper.super1Up.length == 0" col-12 class="titulo-menor" text-center margin-top padding-horizontal >Vá até as outras pistas e escolha seu artista preferido, depois retorne aqui para conferir seu lineup personalizado!</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12></ion-col>
    </ion-row>

    
    <ion-row padding-horizontal *ngIf="angularHelper.tribaltechUp.length > 0">
        <ion-col>
          <ion-row>
            <ion-col col-12 text-center><img src="assets/icon/tt-stage.png"></ion-col>
          </ion-row>
          <ion-row *ngFor="let dj of angularHelper.tribaltechUp">
            <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
 

    <ion-row padding-horizontal *ngIf="angularHelper.timetechUp.length > 0">
      <ion-col>
        <ion-row>
          <ion-col col-12 text-center><img src="assets/icon/time-stage.png"></ion-col>
        </ion-row>
        <ion-row *ngFor="let dj of angularHelper.timetechUp">
          <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
          <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
        </ion-row>

      </ion-col>
    </ion-row>   


    <ion-row padding-horizontal *ngIf="angularHelper.progressiveUp.length > 0" >
        <ion-col>
          <ion-row>
            <ion-col col-12 text-center><img src="assets/icon/3dtrip-stage.png"></ion-col>
          </ion-row>
          <ion-row *ngFor="let dj of angularHelper.progressiveUp">
            <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>

      <ion-row padding-horizontal *ngIf="angularHelper.super1Up.length > 0" >
          <ion-col>
            <ion-row>
              <ion-col col-12 text-center><img src="assets/icon/super-stage.png"></ion-col>
            </ion-row>
            <ion-row *ngFor="let dj of angularHelper.super1Up">
              <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
              <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
            </ion-row>
    
          </ion-col>
        </ion-row>

    <ion-row padding-horizontal *ngIf="angularHelper.organicUp.length > 0">
        <ion-col>
          <ion-row>
            <ion-col col-12 text-center><img src="assets/icon/organic-stage.png"></ion-col>
          </ion-row>
          <ion-row *ngFor="let dj of angularHelper.organicUp">
            <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>

    <ion-row padding-horizontal *ngIf="angularHelper.burnUp.length >0" >
        <ion-col>
          <ion-row>
            <ion-col col-12 text-center><img src="assets/icon/351-stage.png"></ion-col>
          </ion-row>
          <ion-row *ngFor="let dj of angularHelper.burnUp">
            <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>

    <ion-row padding-horizontal *ngIf="angularHelper.secretUp.length > 0">
      <ion-col>
          <ion-row>
              <ion-col col-12 text-center></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 text-center></ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-12 text-center><img src="assets/icon/secret-stage.png"></ion-col>
        </ion-row>
        <ion-row *ngFor="let dj of angularHelper.secretUp">
          <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
          <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>



    <ion-row margin-bottom margin-top>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <button ion-button icon-start round full (click) = "gotoHome()">
          <ion-icon name="md-arrow-round-back"></ion-icon>
          Menu Principal
        </button>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>