<ion-header>

    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

        <ion-title text-center>

        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center><img src="assets/imgs/store-grande.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor-2" text-center padding-horizontal>A Tribaltech Escape será inesquecível e todos já sabemos! Compre nossos souvenirs para você lembrar deste dia tão especial para sempre!</ion-col>
        </ion-row>
        <ion-row margin-top margin-bottom>
            <ion-col col-12 class="titulo-drink" text-center>Escolha sua lembrança!</ion-col>
        </ion-row>

        <ion-row padding-horizontal  *ngFor="let store of angularHelper.myData ">
            <ion-col col-8 class="titulo-menor">{{store.name}}</ion-col>
            <ion-col col-4 class="preco-drink" text-right>{{store.price}}</ion-col>
        </ion-row>




    </ion-grid> 
</ion-content>
