page-chat {
  ion-icon{
    font-size: 8vw;
    padding-top: 7px !important;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3);
  }
  .icone-send{
    color: #ffc000;
  }
  input{
    padding-left: 10px !important;
    color: white !important;
  }
  .item-inner {
    border-bottom: none !important;
 }

 .item-md {
  background-color: none !important; 
  padding-left: 0 !important;
}

.item-ios{
  background-color: none !important; 
  padding-left: 0 !important;
}
}
