<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>

    <ion-title text-center>

    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-creat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines  no-border="">
    <ion-item *ngFor="let msg of angularHelper.mensagem"  style="background-color:transparent">
      <chat-bubble [message]="msg"></chat-bubble>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar class="fundo-header">
    <div style="display:flex;justify-content: space-between;">

      <div style="width: 85%;">
        <ion-item>
          <ion-input placeholder="Digite sua mensagem aqui..." [(ngModel)]="msg"></ion-input>
        </ion-item>
      </div>
      <div style="width: 15%; display: flex;justify-content: center;">
        <ion-icon name="md-paper-plane" icon-end class="icone-send" (click)="sendMsg()"></ion-icon>
      </div>

    </div>
  </ion-toolbar>
</ion-footer>