<ion-header>

    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

        <ion-title text-center>

        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row no-padding>
            <ion-col col-12 text-center no-padding><img src="assets/imgs/mapa-grande.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor-2" text-center padding-horizontal>Aperte no mapa abaixo para poder dar zoom e se localizar na festa!</ion-col>
        </ion-row>
        <ion-row no-padding margin-top>
            <ion-col col-12 text-center no-padding><img src="{{mapa}}" imageViewer /></ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
