<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

        <ion-title text-center>

        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12></ion-col>
        </ion-row>
        <ion-row (click) = "goto(6)">
            <ion-col col-12 text-center><img src="assets/imgs/meulineup.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 (click) = "goto(0)"><img src="assets/icon/tt-stage.png"></ion-col>
            <ion-col col-6 (click) = "goto(1)"><img src="assets/icon/time-stage.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 (click) = "goto(2)"><img src="assets/icon/3dtrip-stage.png"></ion-col>
            <ion-col col-6 (click) = "goto(5)"><img src="assets/icon/super-stage.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 (click) = "goto(3)"><img src="assets/icon/organic-stage.png"></ion-col>
            <ion-col col-6 (click) = "goto(4)"><img src="assets/icon/351-stage.png"></ion-col>
        </ion-row>
        
        <ion-row >
            <ion-col col-12 text-center (click) = "goto(7)"><img src="assets/icon/secret-stage.png"></ion-col>
        </ion-row>

    </ion-grid>
</ion-content>