<ion-header>
  <ion-navbar>      
    <ion-title>CONTRATO DE LICENÇA PARA USUÁRIO FINAL (EULA)</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <p>
        CONTRATO DE LICENÇA PARA USUÁRIO FINAL (EULA)<br>
              
        Por favor, leia cuidadosamente este Contrato antes de utilizar o aplicativo TRIBALTECH (o “APLICATIVO”) e todos os serviços nele oferecidos (os “Serviços”) pela T2 EVENTOS E ESTRUTURAS LTDA - ME., (“LICENCIANTE”). Ao utilizar o Aplicativo, você concorda e aceita os termos e condições deste Contrato. Caso não concorde, não use o APLICATIVO e os SERVIÇOS da LICENCIANTE.
        Este Contrato de Licença de Usuário Final (“EULA”) é um acordo legal entre o usuário pessoa física ou jurídica (o “USUÁRIO”) e a T2 Eventos e Estruturas Ltda - ME., empresa estabelecida na cidade de Curitiba – PR, na Rua Cel. José Carvalho de Oliveira, no. 1612, Uberaba, inscrita no CNPJ do Ministério da Fazenda sob no. 08.296.412/000122, detentora da marca TribalTech Festival, (a “LICENCIANTE”) para uso de aplicativo mobile (“APLICATIVO”), pelo prazo em que utilizá­lo.
        A utilização de todo e qualquer serviço prestado pela LICENCIANTE, incluindo os sites superlogica.com e superlogica.net, está condicionada ao aceite deste EULA na sua totalidade.
                    
        <br><br> 1 DECLARAÇÃO DE VONTADE
                    
        <br> O USUÁRIO declara ter lido, compreendido e aceito todos os termos e condições deste EULA, e declara, ainda, ter ciência dos direitos e obrigações nele contido, constituindo este instrumento o acordo completo entre as partes.
                    
        <br><br>2 LICENÇA DE USO DO APLICATIVO
                    
        <br><br>
        I. A LICENCIANTE, que é proprietária e legítima possuidora de todos os direitos sobre o APLICATIVO, licencia, enquanto viger este EULA, ao USUÁRIO o direito de uso não exclusivo, intransferível a terceiros, sob qualquer forma ou condição. Ao utilizar o APLICATIVO, mesmo que parcial ou a título de teste, o USUÁRIO estará vinculado aos termos deste EULA, concordando com os mesmos. Em caso de discordância dos termos aqui apresentados, a utilização do APLICATIVO deve ser imediatamente interrompida.
        <br><br>II. Sujeito aos termos e condições do presente instrumento, este EULA concede ao USUÁRIO uma licença revogável, não exclusiva e intransferível para usar o APLICATIVO. O USUÁRIO não poderá utilizar e nem permitir o uso do APLICATIVO para outra finalidade que não seja para ele mesmo. Em nenhuma hipótese o USUÁRIO terá acesso ao código fonte do APLICATIVO ora licenciado, por este se tratar de propriedade intelectual da LICENCIANTE.
        <br><br>III. A licença atribuída a este EULA restringe­se na utilização do APLICATIVO nos	 limites necessários para a prestação do serviço pela LICENCIANTE. O USUÁRIO não adquire, pelo presente instrumento, nenhum direito de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre informações confidenciais ou segredos de negócio, sobre ou relacionados ao APLICATIVO ou nenhuma parte dele. O USUÁRIO também não adquire nenhum direito sobre ou relacionado ao APLICATIVO ou qualquer componente dele, além dos direitos expressamente licenciados ao mesmo sob o presente EULA ou em qualquer outro contrato mutuamente acordado por escrito que o USUÁRIO possa ter celebrado com a LICENCIANTE. Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.
                    
        <br><br> 3 DO PRAZO E RESCISÃO
                    
        <br> <br>I. O presente EULA entra em vigor na data de seu aceite pelo USUÁRIO.
        <br><br>II. O prazo de licenciamento vigorará pelo prazo indeterminado.
        <br><br>III. A rescisão não trará ônus para qualquer uma das partes;
        <br><br>IV. Quando a rescisão deste EULA for solicitada pelo USUÁRIO, basta excluir o aplicativo de seu celular e não utilizar mais o aplicativo.
                                   
        <br><br> 4 DAS OBRIGAÇÕES DO USUÁRIO<br>
                    
        Obriga­se o USUÁRIO a:
                    
        <br> <br>I. Manter, a seus dispêndios, acesso a Internet banda larga para utilizar o APLICATIVO;
        <br> <br>II. Acessar o APLICATIVO instalado previamente através da APP STORE.
        <br> <br>III. Manter, a seus dispêndios, um endereço de e­mail, válido e frequentemente lido, nos cadastros da LICENCIANTE para que ela possa se comunicar de forma oficial;
        <br> <br>IV.  Relatar de forma clara a ocorrência qualquer problema de natureza técnica e, caso necessário, prover relatórios, acesso ao APLICATIVO e informações necessárias para o LICENCIANTE oferecer suporte técnico;
        <br> <br>V. Não enviar emails indesejados em massa (SPAM);
        <br> <br>VI. Não publicar, por intermédio do APLICATIVO, material racista, pornográfico, ofensivo, protegido por direitos autorais, calunioso ou difamatório;
                            
        <br><br>  5 DAS DISPOSIÇÕES GERAIS
                    
        <br> <br>I. Este EULA tem por objetivo regular as ações de ambas as partes, todavia qualquer uma delas poderá tolerar algum descumprimento de algum item, sem que isso implique em novação ou renúncia de direito. A parte tolerante poderá, a qualquer tempo, exigir da outra parte o fiel e cabal cumprimento deste EULA;
        <br> <br>II. As alterações que, a critério da LICENCIANTE, sejam realizadas neste EULA serão consideradas aplicáveis a partir da data de veiculação da nova versão em http://www.tribaltech.com.br/eula, sendo, portanto, responsabilidade do USUÁRIO manter­se atualizado. O uso contínuo do APLICATIVO após a realização de qualquer mudança neste EULA implicará na aceitação tácita das alterações por parte do USUÁRIO;
        <br> <br>III. Não constituem causa de rescisão contratual, o não cumprimento das obrigações aqui assumidas em decorrência de fatos que independam da vontade das partes, tais como os que configuram o caso fortuito e a força maior previstos no artigo 393 do Código Civil Brasileiro;
        <br> <br>IV. A LICENCIANTE, na execução do presente EULA, sem prejuízo de suas responsabilidades contratuais e legais poderá utilizar, se necessário, o apoio técnico especializado de terceiros, pessoas físicas ou jurídicas independentemente de prévia notificação ao USUÁRIO, desde que não haja custos posteriores ao USUÁRIO;
        <br> <br>V. Este EULA obriga as partes e seus sucessores e somente o USUÁRIO possui licença não exclusiva para a utilização do APLICATIVO, sendo­lhe, entretanto, vedado transferir os direitos e obrigações impostos por este instrumento. Tal limitação, no entanto, não atinge a LICENCIANTE, que poderá, a qualquer tempo, ceder, no todo ou em parte, os direitos e obrigações inerentes ao presente EULA;
        <br> <br>VI. Se qualquer disposição deste EULA for considerada nula, anulável, inválida ou inoperante, nenhuma outra disposição deste EULA será afetada como consequência disso e, portanto, as disposições restantes deste EULA permanecerão em pleno vigor e efeito como se tal disposição nula, anulável, inválida ou inoperante não estivesse contida neste EULA;
        <br> <br>VII. O USUÁRIO não poderá prestar serviços conflitantes com os prestados pela LICENCIANTE sem sua autorização prévia e expressa;
        <br> <br>VIII. O USUÁRIO concorda que a LICENCIANTE possa utilizar a marca e o nome do USUÁRIO para fins comerciais, podendo, inclusive, divulgar mensagens enviadas de forma escrita ou oral, por telefone, para uso em sites, jornais, revistas e outras campanhas, enquanto vigorar o presente EULA;
        <br> <br>IX. A LICENCIANTE visando desenvolver melhorias ao APLICATIVO poderá, com o fim específico de estudar, analisar dados, elaborar estatística e, sempre sem identificação pessoal ou comercial, utilizar as informações do APLICATIVO, com o quer concorda e autoriza o USUÁRIO;
        <br> <br>X. A LICENCIANTE reserva­-se o direito de ceder licenças de uso do APLICATIVO a tantos USUÁRIOS quantos entender conveniente.
                    
        <br><br>  6 DO FORO E LEGISLAÇÃO APLICÁVEL<br>
                    
        <br> <br>I. Este EULA será regido e interpretado de acordo com as leis da República Federativa do Brasil;
        
    </p>
  <button ion-button color="secondary" block (tap)="closeModal()"> ACEITAR TERMOS </button>
</ion-content>
