// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content{
    //background-color: #5e1064 !important;
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e1c51),     color-stop(100%, #b841a9));
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none !important;
    background-repeat: repeat-x;
    content: "";
}

.header-ios::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none !important;
    background-repeat: repeat-x;
    content: "";
}

.edu{
    background-color: transparent !important;
}

.item-md {
    background-color: none !important; 
    padding-left: 0 !important;
}

.item-ios{
    background-color: none !important; 
    padding-left: 0 !important;
}

.toolbar-background-md {
    background-color: transparent !important;
    border-color: none !important;
}
.toolbar-background-ios {
    background-color: transparent !important;
    border-color: none !important;
}
ion-toggle {
    position: relative !important;
    width: 36px !important;
    height: 14px !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    contain: strict !important;
    padding: 5px !important;
}



.toolbar-title-ios {
    color: #fff !important;
}

.label-ios {
    margin: 3px 3px 3px 0 !important;
}

.item-ios{
    background-color: #5e1064 !important;
    padding-left: 0 !important;
}

.toolbar-md {
    padding: 0px !important;
    min-height: 56px;
}

.toolbar-title-md {
    color: #fff !important;
}

.label-md {
    margin: 3px 3px 3px 0 !important;
}


.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}
.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
    color: #fff;
    background-color: transparent;
}
.titulo{
    font-size: 5vw;
    color: white;
    font-weight: bold;
}

.titulo-menor{
    font-size: 5vw;
    color: white;
    display: flex;
    align-items: center;
}

.titulo-menor-2{
    font-size: 5vw;
    color: white;
    display: flex;
    align-items: center;
}

.titulo-mini{
    font-size: 4vw;
    color: #fd0;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.titulo-drink{
    font-size: 6vw;
    color: #01b4b2;
    font-weight: bold;
}

.titulo-pista{
    font-size: 5vw;
    color: #01b4b2;
    font-weight: bold;
}

.preco-drink{
    font-size: 5vw;
    color: #fd0;
    font-weight: bold;
}

.item-inner{
    //border-bottom: 1px solid #791f80 !important;
    border-bottom: transparent !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}

chat-bubble {


    .message {
        font-size: medium;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .message-detail {
        white-space: nowrap;
        font-size: 14px;
    }

    .chat-bubble {
        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 80%;
    }

    .chat-bubble:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
    }

    .chat-bubble.left {
        background-color: map-get($chat-bubble, background-left);
        float: left;
        margin-left: 5px;
    }

    .chat-bubble.left:before {
        background-color: map-get($chat-bubble, background-left);
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
    }

    .chat-bubble.right {
        background-color: map-get($chat-bubble, background-right);
        color: #000;
        float: right;
        margin-right: 0px;
    }

    .chat-bubble.right:before {
        background-color: map-get($chat-bubble, background-right);
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
    }

    .chat-bubble.right a.autolinker {
        color: #000;
        font-weight: bold;
    }
}
