<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-row>
                <ion-col col-12 text-center class="logo-linha" style="padding: 0px !important"><img src="assets/imgs/logo-tt.png"></ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>

    <ion-content scroll="false">
        <ion-list>
            <button class="edu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <img src="{{p.porra}}"/>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>