<ion-header>

    <ion-navbar>


        <ion-title text-center>
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click) = "gotoHome()">
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center><img src="assets/icon/organic-stage.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor" text-center margin-top padding-horizontal>Ative o seu show favorito para montar a sua timeline personalizada!</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12></ion-col>
        </ion-row>
        <!-- <ion-row padding-horizontal *ngFor="let dj of angularHelper.myData ">
            <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.name}}</ion-col>
            <ion-col col-2><ion-toggle [(ngModel)]="dj.s"></ion-toggle></ion-col>
        </ion-row> -->

        <ion-row padding-horizontal *ngFor="let dj of angularHelper.myData ">
                <ion-col col-2 class="titulo-mini">{{dj.time}}</ion-col>
                <ion-label class="titulo-menor">{{dj.name}}</ion-label>
                <ion-toggle [(ngModel)]="dj.s"></ion-toggle>
        </ion-row>


    </ion-grid> 
</ion-content>
