<ion-header>

    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

        <ion-title text-center>

        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center><img src="assets/imgs/drink-grade.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor-2" text-center margin-top padding-horizontal>Aqui estão as bebidas que serviremos a você durante todo o evento!</ion-col>
        </ion-row>


        <div *ngFor="let drink of angularHelper.myData ">
            <ion-row margin-top margin-bottom>
                <ion-col col-12 class="titulo-drink" text-center>{{drink.categoria}}</ion-col>
            </ion-row>
            <ion-row padding-horizontal *ngFor="let d of drink.items ">
                <ion-col col-8 class="titulo-menor">{{d.name}}</ion-col>
                <ion-col col-4 class="preco-drink" text-right>{{d.price}}</ion-col>
            </ion-row>

        </div>




    </ion-grid>
</ion-content>
