<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-poster">

  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="md-menu"></ion-icon>
      </button>

      <ion-title text-center>

      </ion-title>

      <ion-buttons end>
          <button ion-button icon-only>
              <ion-icon name="md-creat"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="vaiporra">
      <ion-row>
          <ion-col col-12></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>