page-poster {
    ion-content{
        background-color: transparent !important;
        background-image: url('../assets/imgs/fundo-poster.jpg') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .toolbar-background-md {
        background-color: transparent !important;
    }
}
