<ion-header>

    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

        <ion-title text-center>

        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-creat"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center><img src="assets/imgs/trends.png"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor-2" text-center padding-horizontal>Confira aqui a lista dos 20 djs mais aguardados em toda a festa! Estes dados são gerados de acordo com a seleção feitas no menu Line-Up!</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="titulo-menor-2" text-center padding-horizontal>Os números do lado de cada dj é a quantidade de pessoas que marcaram o dj como favorito aqui no aplicativo!!</ion-col>
        </ion-row>
        <ion-row padding-horizontal margin-top *ngFor="let dj of angularHelper.trends">
            <ion-col col-1 class="titulo-mini" text-right>{{dj.position}}</ion-col>
            <ion-col col-8 class="titulo-menor">{{dj.dj}}</ion-col>
            <ion-col col-3 class="preco-drink" text-right>{{dj.count}}</ion-col>
        </ion-row>


    </ion-grid> 
</ion-content>
