<ion-content>
    <ion-grid>
        <ion-row class="logo">
            <ion-col col-12 text-center class="logo-linha" style="padding:0px !important"><img src=""></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(0)">
            <ion-col col-12 ><img src="assets/imgs/nosso-line.png"></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(1)">
            <ion-col col-12 ><img src="assets/imgs/mapa.png"></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(2)">
            <ion-col col-12 ><img src="assets/imgs/store.png"></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(3)">
            <ion-col col-12 ><img src="assets/imgs/drink.png"></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(4)">
            <ion-col col-12 ><img src="assets/imgs/food.png"></ion-col>
        </ion-row>
        <ion-row (click) = "gotoT(5)" *ngIf="false">
            <ion-col col-12 ><img src="assets/imgs/trends.png"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
